.changepasswordButton{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1.8rem;
    width: 75%;
    padding-bottom: 20px;
    padding-right: 40px;
  
    padding-top: 10px;
    
  }
  .changepasswordButton Button{
    outline: none;
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1rem;
    padding: 10px 16px;
    width: 38%;
    transition: 100ms;
    cursor: pointer;
  }
.changeinputfield{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-left: 45px;
  width: 85%;
  
}
