/* .button {
    border: none;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
    transition: 100ms;
    outline: none;
    font-weight: bold;
    width: 30%;
}
 */

 .button {
    border: none;
    background-color: #105ca8;
    color: #fff;
    border-radius: 5px;
    padding: 10px 16px;
    cursor: pointer;
    transition: 100ms;
    outline: none;
    font-weight: bold;
    width: 100vw;
}

@media screen and (min-width: 767px) {
    .button {
      padding: 8px 12px;
      width: 100px;
      min-width: 100px;
    }
  }